<h1><%= @board.name %></h1>
<hr />
<h2>Boards</h2>
<ul>
<% @boards.each do |board| %>
    <li>
      <%= link_to board.name, board %>
    </li>
  <% end %>
</ul>
<br />
<br />
<br />
<%= link_to 'Delete board', @board, method: :delete, class: "ui red button inverted" %>