<nav>
  <ul>
    <li>
      <%= link_to 'Tasks', tasks_path %>
    </li>
    <li>
      <%= link_to 'Add Task', new_task_path %>
    </li>
    <li>
      <%= link_to 'board', boards_path %>
    </li>
    <li>
      <%= link_to 'Add board', new_board_path %>
    </li>
  </ul>
</nav>